@import url("fonts/girloy/girloy.css");
@import url("fonts/CircularStd/CircularStd.css");

* {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    font-family: 'Gilroy', sans-serif;
}

:root {
    --color-btn: #FF9401;
    --color-text__black: #2e2e2e;
    --color-bg__white: #fffefc;
    --color-text__p: #3f3232;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    
}


/*************************************************************************** header section ****************************************************************************/
.main {
}
.header {
    padding-top: 46px;
    padding-bottom: 115px;
    background-color: var(--color-bg__white);

}

.top-header {
    display: flex;
    justify-content: space-between;
    position: relative;

}
.logo {
    cursor: pointer;
}
.logo__text {
    font-family: "Playfair Display", serif;
}
.header__img {
   position: absolute;
   left: 543px;
   top: -45px;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    gap: 62px;
    margin-right: 33px;
}

.header-menu li {
    list-style-type: none;
}
.header-menu a {
    color: var(--color-text__black);
    font-size: 18px;
}
.header-menu a:hover {
    color: #ffac39;
}

.menu-item {
   width: 20px;
}


.menu-line__f {
    width: 100%;
    height: 3px;
    background-color: var(--color-text__black);
    margin-bottom: 4px;
}
.menu-line__s {
    width: 16px;
    height: 3px;
    background-color: var(--color-text__black);
    margin-bottom: 4px;
    margin-left: 4px;
}
.menu-line__t {
    width: 100%;
    height: 3px;
    background-color: var(--color-text__black);
}

.menu-item:hover .menu-line__f{
    background-color: #ffac39;
}

.menu-item:hover .menu-line__s {
    background-color: #ffac39;
}

.menu-item:hover .menu-line__t {
    background-color: #ffac39;
}

.main-header {
    padding-top: 131px;
    display: flex;
    position: relative;
    
}
.header-text {
}

.header-text__title {
    display: flex;
    gap: 5px;

}
.title__line {
    margin-top: 22px;
    width: 27px;
    height: 1px;
    background-color: var(--color-btn);
}
.text-h6 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: var(--color-btn);
}

.main-text {
    position: relative;
}
.text-h1 {
    font-weight: 800;
    font-size: 96px;
    line-height: 108px;
    width: 590px;
    margin-bottom: 13px;
    
}

.text-img__soup {
    position: absolute;
    top: 35px;
    left: 365px;
    width: 62px;
    height: 61px;

}

.text-img__salad {
    position: absolute;
    top: 17px;
    left: 383px;
    width: 150px;
    height: 117px;
}

.text-img__mood {
    position: absolute;
    top: 148px;
    left: 405px;
}

.text-img__mood_sec {
    position: absolute;
    top: 148px;
    left: 464px;
}

.text-p {
    font-family: 'Circular Std', sans-serif;
    width: 497px;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 160%;
    color: var(--color-text__p);
    margin-bottom: 44px;
}
.btn {
    display: block;
    text-align: center;
    text-transform: capitalize;
    width: 243px;
    height: 62px;
    padding: 16px 33px;
    background-color: var(--color-btn);
    text-decoration: none;
    color: #fff;
    font-family: 'Circular Std', sans-serif;
    font-weight: 500;
    border-radius: 31px;
    box-shadow: 0 20px 40px 0 rgb(255, 148, 1, 20%);
    line-height: 30px;
   
}

.btn:hover {
    background-color: #ffac39;
}

.btn .header-btn {
 
    
}


.social-block {
    margin-top: 60px;
    width: 165px;
    display: flex;
    gap: 30px;
    

}

.social-block i {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 20px 40px 0 rgb(255, 148, 1, 20%);
}

.social-block i:hover {
    background-color: #ffac39;
    color: white;
}
.main-header__img {
    position: absolute;
    top: 121px;
    left: 378px;
}
/*************************************************************************** About us section ****************************************************************************/
.aboutUs {
    padding-top: 142px;
    padding-bottom: 130px;
    background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);

}
.aboutUs-item {
    display: flex;
    position: relative;
    justify-content: center;
}
.aboutUs__img {
    position: absolute;
    left: -215px;
    top: -260px;
}
.abuotUs-title {
    margin-left: 740px;
}
.aboutUs-text-h6 {
    margin-bottom: 24px;
}
.text-h2 {
    font-size: 52px;
    line-height: 60px;
    font-weight: 700;
    color: var(--color-text__black);
    width: 410px;
    margin-bottom: 21px;
    margin-top: 0;
}
.aboutUs-text-p {
    margin-top: 0;
    width: 424px;
    margin-bottom: 48px;
}
.aboutUs__btn {
    width: 224px;
}

/*************************************************************************** Services section ****************************************************************************/
.services {
    padding-top: 34px;
    padding-bottom: 117px;
    position: relative;
}
.services-img__left {
    position: absolute;
    left: -6px;
    top: -70px;
}
.services-img__right {
    position: absolute;
    right: -6px;
    top: -100px;
}
.services-item {
  
   
   
}
.services-title {
}
.text-h6 {
}
.sevices-text-h6 {
    text-align: center;
    margin-bottom: 13px;
}
.text-h2 {
}
.sevices-text-h2 {
    margin: 0 auto;
    width: 600px;
    margin-bottom: 43px;
    
}
.services-flex {
    width: 971px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 118px;

}
.services-flex__item {
    text-align: center;
}

.services-flex__item img {
    margin-bottom: 25px;
}
.services-flex__food,
.services-flex__mouth  {
    margin-top: 13px;
}


.flex-text-h6 {
    margin: 0;
    color: var(--color-text__black);
    font-weight: 700;
    margin-bottom: 19px;
}
.text-p {
}
.flex-text-p {
    font-size: 18px;
    font-weight: 450;
    line-height: 160%;
    width: 245px;
}

/*************************************************************************** Recipes section ****************************************************************************/
.recipes {
    padding-top: 87px;
    padding-bottom: 86px;
    background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);

}
.recipes-item {
    position: relative;
}
.text-h6 {
}
.recipes-text-h6 {
    text-align: center;
}

.recipes-text-h2 {
    width: 482px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 73px;
}
.recipes-title__img {
    position: absolute;
    top: -1px;
    left: 940px;
}
.recipes-flex {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 54px;
    margin-bottom: 72px;
    

}
.recipes-flex__item {
    width: 354px;
    height: 362px;
    border-radius: 8px;
    padding: 12px 12px 29px;
    background-color: #fff;
    box-shadow: 0px 40px 80px 0px #FF940126;
    
}
.recipes_img {
    margin-bottom: 10px;
}
.recipes-block-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-h5 {
    font-family: 'Circular Std', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;
}
.recipes__rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.fa-star {
    margin-top: 4px;
    font-size: 11px;
    line-height: 60%;
    color: #818181;
    
}
.recipes__num {
    font-size: 16px;
    font-weight: 600;
    line-height: 60%;
    color: #818181;
}
.recipes-block-bottom {
    display: flex;
    justify-content: space-between;
}
.recipes__btn {

    padding: 9px 18px;  
    font-size: 10px;
    font-weight: 500;
    font-family: 'Circular Std', sans-serif;
    text-decoration: none;
    color: #696969;
    background-color: rgb(196, 196, 196, 26%);
    border-radius: 15px;
    cursor: pointer;
}

.recipes__btn:hover {
    background-color: rgba(163, 155, 155, 0.26);
}
.recipes__price {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-btn);
    font-style: italic;
}
.btn {
}
.recipes-btn {
    margin: 0 auto;
    
}


/*************************************************************************** Order section ****************************************************************************/
.order {
    padding-top: 65px;
    padding-bottom: 75px;
    position: relative;
}
.order-img__left {
    position: absolute;
    top: -86px;
    left: -8px;
}
.order-right {
    position: absolute;
    top: -76px;
    right: -8px;
}
.order-item {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 111px;
}
.order-item__img {
    position: absolute;
    left: -35px;
}
.order-title {
    margin-top: 100px;
    margin-right: 70px;
}
.text-h6 {
}
.order-text-h6 {
    margin-bottom: 23px;
}
.text-h2 {
}
.order-text-h2 {
    width: 415px;
}
.text-p {
}
.order-text-p {
    width: 430px;
}
.order-btn {
    display: flex;
    gap: 25px;
}
.btn__google {
    border: solid 1px #000;
    display: flex;
    gap: 8px;
    align-items: center;
    width: 148px;
    height: 48px;
    border-radius: 6px;
    padding: 0 6px 0px 12px;
    background-color: #000;
    color: var(--color-bg__white);
    text-decoration: none;
}

.btn__google .title__bottom {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
}
.btn-img__apple {
    width: 28px;
    height: 32px;
    
}

.btn-img__apple_black {
    display: none;
}
.btn-title {
}
.title__top {
    font-size: 4.5px;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: 1px;
}
.title__bottom {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1px;
}

/* .btn__apple::before {
    content: url(../img/Apple.png);

} */
.btn__apple {
    border: solid 1px #000;
    display: flex;
    gap: 8px;
    align-items: center;
    width: 148px;
    height: 48px;
    border-radius: 6px;
    padding: 0 0px 0px 12px;
    background-color: #000;
    color: var(--color-bg__white);
    text-decoration: none;
}

.btn__apple:hover {
    background-color: #fff;
    color: #000;
   
}
.btn__google:hover {
    background-color: #fff;
    color: #000;
   

}

.btn__apple:hover .btn-img__apple {
    display: none;
    
}

.btn__apple:hover .btn-img__apple_black {
    display: block;
    width: 28px;
    height: 32px;
    
    
}
.btn-img__google {
    
}

/*************************************************************************** Feedback section ****************************************************************************/

.feedback {
    padding-top: 137px;
    padding-bottom: 171px;
}
.feedback-item {
    display: flex;
    gap: 159px;
}
.feedback-title {
    margin-top: 53px;
}
.text-h6 {
}
.feedback-h6-text {
    font-size: 18px;
    margin: 0;
    margin-bottom: 23px;
}
.text-h2 {
}
.feedback-h2-text {
    margin: 0;
    width: 387px;
    margin-bottom: 30px;
}
.text-p {
}
.feedback-text-p {
    margin: 0;
    font-style: italic;
    margin-bottom: 45px;
    width: 373px;
}
.feedback-carusel {
    display: flex;
    gap: 137px;
    align-items: center;
}
.carusel-text {
}
.carusel-text-h6 {
    margin: 0;
    color: var(--color-text__black);
    margin-bottom: 4px;
}
.carusel-text-p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 450;
    color: #675959;

}
.carusel-nav {

    display: flex;
    align-items: center;
    gap: 6px;
}

.carusel-nav-item {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
}
.carusel-nav-item:nth-child(1) {
flex-direction: row-reverse;
}





.fa {
}
.fa-long-arrow-left {
    cursor: pointer;
    color: #3a1212;
    font-size: 13px;
}
.fa-long-arrow-right {
    cursor: pointer;
    color: #3a1212;
    font-size: 13px;
}

.fa-long-arrow-right:hover {
    color: var(--color-btn);
    /* box-shadow: 0 10px 10px 0 rgb(255, 148, 1, 20%); */
    font-size: 31px;
}
.fa-long-arrow-left:hover {
    
    color: var(--color-btn);
    /* box-shadow: 0 10px 10px 0 rgb(255, 148, 1, 20%); */
    font-size: 31px;
}
.feedback-img {
}
/*************************************************************************** Footer section ****************************************************************************/
.footer {
    padding-top: 50px;
    padding-bottom: 42px;
    background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);
;
}
.footer-top-block {
    display: flex;
    margin-bottom: 47px;
    
}


.footer-info {
    margin-right: 170px;
    list-style-type: none;
}
.footer-info li:nth-child(3) {
    margin-bottom: 0;
}
.logo {
}
.footer-logo {
    margin-bottom: 23px;
}
.logo__text {
    margin: 0;
}

.mail-info {
    font-family: 'Circular Std', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 450;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}
    

.mail-info a {
    text-decoration: none;
    color: #3f3232;
}

.mail-info a:hover {
    color: #ffac39;
}


.main-info__img {
    margin-right: 15px;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    gap: 105px;
    
}

.footer-nav ul {
    padding: 0;
}
.footer-nav a {
    font-family: 'Circular Std', sans-serif;
    font-weight: 450;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    color: #6A5C5C;
}

.footer-nav a:hover {
    color: #ffac39;
}
.nav-menu {
    list-style-type: none;
}
.h6-nav__text {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
}
.nav-info {
    list-style-type: none;
}


.nav-links {
    list-style-type: none;
}
.nav-social {
    list-style-type: none;
}
.nav-menu li,
.nav-info li,
.nav-links li,
.nav-social li {
    margin-bottom: 22px;
}
.nav-social a {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: var(--color-text__black);
}


.footer-bottom-block {
    width: 417px;
    margin: 0 auto;
}
.text-p-footer {
    font-family: 'Circular Std', sans-serif;
    font-weight: 450;
    color: #685D5D;
    font-size: 12px;
    line-height: 120%;
}
.fa {
    color: var(--color-btn);
    font-size: 10px;
}

